img {
    width: 300px;
}
body {
    text-align: center;
    background-color: bisque;
}
a {
    margin: 10px;
}
.highlight1 {
    background-color: #ff0;
}

.highlight2 {
    background-color: aqua;
}

#navbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
img {
    width: 300px;
}
.mo {
  position: relative;
  top: -60px;
 }
 .po {
    position: relative;
top: -70px;
 }